.searchBox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.filter_input {
  padding-left: 16px;
  width: 240px;
  height: 32px;
  border-radius: 4px;
  border-bottom: 1px solid #635e5e;
  border-left: 1px solid #635e5e;
  border-right: 1px solid #635e5e;
  border-top: 1px solid #635e5e;
  outline: transparent;
}
