.container {
  display: flex;
  justify-content: center;
}

.contact_form {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid black;
}

.form_input {
  padding-left: 8px;
  width: 240px;
  height: 30px;
  border-radius: 4px;
  border-top: 1px solid #827c7c;
  border-bottom: 1px solid #827c7c;
  border-left: 1px solid #827c7c;
  border-right: 1px solid #827c7c;
  outline: transparent;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_button {
  width: 140px;
  border: 1px solid #827c7c;
}

.form_messageError {
  font-weight: 500;
  color: rgb(155, 23, 23);
}
